body {
  margin: 0; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  max-width: 1690px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.box {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }
