body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #000000; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media (min-width: 1025px) {
  body.compensate-for-scrollbar {
    position: static;
    width: auto; } }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background-color: transparent; }

.omfgIOS {
  position: fixed;
  max-width: 100%; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  max-width: 1101px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.box {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute; }

.loader {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 20px;
          border-radius: 20px; }

.loader-outer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 1000000; }

.loader .ball {
  position: absolute;
  width: 0;
  height: 100%;
  left: -15px;
  bottom: 0;
  background: #4a9;
  opacity: 0;
  -webkit-animation: moveBall 2.8s infinite linear;
  animation: moveBall 2.8s infinite linear; }
  .loader .ball.one {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .loader .ball.two {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .loader .ball.three {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .loader .ball.four {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .loader .ball.five {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .loader .ball.six {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .loader .ball .inner {
    height: 30px;
    width: 30px;
    position: absolute;
    background: #999;
    bottom: 0;
    left: 0;
    margin-left: -15px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .loader .ball.center {
    left: 50%;
    top: 50%;
    background: none;
    -webkit-animation: centerBall 2.8s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation: centerBall 2.8s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .loader .ball.center .inner {
      top: -15px; }

@-webkit-keyframes centerBall {
  0%, 25%, 100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  75% {
    opacity: 0; } }

@keyframes centerBall {
  0%, 25%, 100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  75% {
    opacity: 0; } }

@-webkit-keyframes moveBall {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  10% {
    opacity: 0; }
  28.7% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  71.3% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  90% {
    opacity: 0; }
  100% {
    left: 110%;
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
    opacity: 0; } }

@keyframes moveBall {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  10% {
    opacity: 0; }
  28.7% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  71.3% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  90% {
    opacity: 0; }
  100% {
    left: 110%;
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
    opacity: 0; } }
