footer.footer
    .container
        .footer__logo
            a(href='')
                img(src='img/header/Logo-company.svg')
        .footer__info
            .footer__address
                div Белгородская область,
                div п. Северный,
                div ул. Березовая 1/6
            .footer__social
                a(href='#')
                    i.fab.fa-facebook-f
                a(href='#')
                    i.fab.fa-vk
                a(href='#')
                    i.fab.fa-odnoklassniki
                a(href='#')
                    i.fab.fa-instagram
            .footer__languages
                select.footer__languages-select
                    option.footer__languages-option RU
                    option.footer__languages-option EN
            .footer__contacts
                a.e-mail(href='mailto:info@tehnodent.org') info@tehnodent.org
                a.phone(href='tel:8 800 350-09-73') 8 800&nbsp;
                    span 350-09-73