footer
  .footer-lists
    .footer-list-outer
      .footer-list-title О компании
      ul.footer-list
        li
          a(href="#") О нас
        li
          a(href="#") Вакансии
        li
          a(href="#") Новости
        li
          a(href="#") Конфиденциальность
    .footer-list-outer
      .footer-list-title Помощь
      ul.footer-list
        li
          a(href="#") Доставка и оплата
        li
          a(href="#") Возврат
        li
          a(href="#") Поддержка
    .footer-list-outer
      .footer-list-title Сотрудничество
      ul.footer-list
        li
          a(href="#") Специальные условия
        li
          a(href="#") Представительство
        li
          a(href="#") Наши клиенты
    .footer-list-outer
      .footer-list-title Контакты
      ul.footer-list
        li
          a(href="#") Телефон
        li
          a(href="#") Почта
        li
          a(href="#") Адрес
  .map(id="map") КАРТА
  .copirate 2018 &copy; mir-napitkow.ru - интернет-магаин напитков