doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(rel="stylesheet",type="text/css", href="css/libs.min.css")
    link(rel="stylesheet",type="text/css", href="css/main.css")
    link(rel="stylesheet",type="text/css", href="fonts/fonts.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    title Tehno-dent
  body
    include _preloader
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src="js/common.js")