-
    var preloader = [
        'one',
        'two',
        'three',
        'four',
        'five',
        'six',
        'center'
    ]
.loader-outer
    .loader
        each item in preloader
            .ball(class=item)
                .inner